
*.txt

*.txt

*.txt

*.txt

*.txt

CIFO project/data/20161206_043332 - 1.0-1 (optimal mixture crossover, linear mutation).txt

CIFO project/data/20161206_005708 - 1.0-1 (optimal crossover, linear mutation).txt

CIFO project/data/20161206_145646 - 1.0-1 (cycle crossover, diverse_spread initialisation).txt

CIFO project/data/20161206_180843 - 1.0-1 (optimal crossover).txt

CIFO project/data/20161206_193003 - 1.0-1 (diverse_spread, PMXO).txt

*.txt

*.txt
